h3 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.rectangle:hover {
  cursor: pointer;
  opacity: 0.6;
}
/* svg {
  border: 1px solid red;
} */

.line {
  fill: none;
  stroke: #00476b;
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  color: #ffab00;
  stroke: #fff;
}
